<%- include('partials/head.ejs') %>



    <h1>products</h1>

    <ul>
        <% for( var i=0 ; i < items.length ; i++){%>
            <li>
                <%= items[i].name %>
            </li>

            <% } %>

    </ul>

    <h3>Add a new Product</h3>

    <form action="/new-product" method="POST">
        <input type="text" name="newItem" id="newItem" placeholder="digite un nombre de producto">
        <button> add a new product</button>
    </form>

    <script>
        const txtNewItem = document.getElementById('newItem');
        txtNewItem.focus();// ubica el cursor en el formulario , en el campo id
    </script>